 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 body{
    font-size:1.8rem ;
 }
 .container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 4rem;
 }
 .seacrh{
    display: flex;
    width: 70%;
 }
 .seacrh input {
    padding: 0.5rem 1rem;
    width: 100%;
 }
 .seacrh input:focus-visible {
   outline: 1px solid rgb(49, 31, 66);
 }
 .primary_btn{
    background-color: rgb(49, 31, 66);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
 
 }